
body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}


#title{
    background-color: #535252;
} 

#testimonials, #press{
    background-color: #535252;
    text-align: center;
}

/* navigation bar */

.navbar{
    padding-bottom: 5rem;
    padding-left: 0px;
}



.container-fluid{
    padding: 5% 15% 10%;
    
}

.btn-dark:hover{
    color:black;
}

.nav-item{
    padding: 10px;
}

.images{
    position: absolute;
    left: -100px;
}

/* download-button */

.Download-button{
    margin: 5% 3%;
}

/* 2nd container */

.feature-title{
    font-size: 1.5rem;
    padding-top: 20px;
}

p{
    color: #8f8f8f;
}

#features{
    padding: 7% 15% ;
    background-color: white;
    position: relative;
}

.fas{
    color: #535252;
    font-size: 4rem;
}
    
.fas:hover{
    color: #adaaaa;
}

/* testimonials section */

.pricing-title{

    font-size: 3rem;
    line-height: 1.5;

}


#press{
    padding-bottom: 30px;
}
.testimonial-text{
    font-size: 2.5rem;

}
.testimonial-image{
    width: 15%;
    border-radius: 50%;
    margin: 3%;
}

.press-image{
    width: 15%;
}

.carousel-inner{
    padding: 7% 15% ;

}
#footer, #features .col-lg-4{
    text-align: center;
}


/* Pricing section */

#pricing{
    padding: 100px;
    padding-bottom: 5%;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to action */
.ctaction{
    margin: 5% 15% 5%;
}
.callofaction{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserat', sans-serif;
    font-weight: 900;
    text-align: center;
}
#cta{
    background-color: #535252;
    text-align: center;
}


/* Footer section */



.links{
    margin: 0px 10px 20px;
}


/* Media query breakpoint */

@media screen and (max-width:993px){
    .images{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}


